.todo {
    display: flex;
    align-items: flex-start;
}

.todo .checkbox {
    cursor: pointer;
}

.editInput {
    font-family: 'Nunito Sans';
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #939393;
    outline: none; /* Remove outline on focus */
    padding-bottom: 5px;
    color: #727272;
    margin-left: 10px;
}

.todoText {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    margin-left: 10px;
}

.todoText:hover {
    color: rgb(156, 156, 156);
}

.strikethrough {
    text-decoration: line-through;
    color: grey;
}

.trashcan {
    display: none;
    opacity: 0;
    margin-left: 10px;
    transition: fill 0.25s ease-in-out;
}

.trashcan * {
    transition: fill 0.2s ease-in-out;
}

.shownTrashcan {
    display: block;
    opacity: 0;
    animation-name: trashcanShow;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes trashcanShow {
    100% {
        opacity: 1;
    }
}
