.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 50vh; /* Adjust as needed */
    width: 50%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.todos {
    width: fit-content;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.inputField {
    font-family: 'Nunito Sans';
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #939393;
    border-radius: 0; /* Required to fix on Safari */
    outline: none; /* Remove outline on focus */
    padding-bottom: 5px;
    width: 100%;
    max-width: 275px;
    transition: width 0.125s ease-in-out, padding 0.125s ease-in-out,
        border 0.125s ease-in-out;
    color: #727272;
    margin-top: 20px;
    margin-bottom: 250px;
}

.inputFieldFirstTodo {
    text-align: center;
    margin: 0 auto;
}

.inputField:focus {
    border-bottom: 2px solid #727272;
}
