.clearTodosSection {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.clearButton {
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(172, 47, 47);
    border-radius: 15px;
    color: white;
    padding: 0.5em 1em;
    transition: background-color 0.25s ease-in-out;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearButton:hover {
    background-color: red;
}

.confirmClearSection {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.confirmClearText {
    cursor: default;
    font-size: 16px;
    text-align: center;
    margin-bottom: 15px;
}

.confirmClearButton {
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: rgb(172, 47, 47);
    border-radius: 5px;
    padding: 0.5em 0.75em;
    color: white;
    transition: background-color 0.25s ease-in-out;
}

.abortClearButton {
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #727272;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    color: white;
    margin-left: 10px;
    transition: background-color 0.25s ease-in-out;
}

.confirmClearButton:hover {
    background-color: red;
}

.abortClearButton:hover {
    background-color: #3e3d3d;
}

.confirmClearText,
.confirmClearButton,
.abortClearButton,
.clearButton {
    user-select: none;
}

@media (max-width: 768px) {
    .clearButton {
        font-size: 14px;
    }

    .abortClearButton,
    .confirmClearButton {
        font-size: 14px;
    }
}
